*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: pink;
    overflow: hidden;
}

.header-text{
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fa-heading{
    color: aliceblue;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.fa-gif img{
    width: 400px;
}

.btn{
    display: inline-block;
    width: 100px;
    height: 50px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#noButton{
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton{
    position: absolute;
    margin-right: 150px;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    background: pink;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

